<!DOCTYPE html>
<html>
<head>
    <title>Randall Spears</title>
    <link type="text/css" rel="stylesheet" href="static/randall/main.css"/>
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <script type="text/javascript" src="static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="static/randall/animations.js"></script>
</head>
<body>
<div class="header-home">
    <div class="navcont">
        <a href="{{url_for('personal.homepage')}}"><div class="menuitem"><h4 class="menutxt">HOME</h4></div></a>
        <a href="javascript:void(0)"><div class="menuitem"><h4 class="menutxt">PROJECTS</h4></div></a>
        <a href="javascript:void(0)"><div class="menuitem"><h4 class="menutxt">ABOUT</h4></div></a>
        <a href="{{url_for('start.start_page', name='randall')}}"><div class="menuitem"><h4 class="menutxt">START PAGE</h4></div></a>
        <div class="pagetitle"><h1 class="titletxt">Randall Spears</h1></div>
    </div>
</div>
<div class="main-stuff">
  <h2>In Progress</h2>
  <p>
    I'm working on getting this site up and running!
  </p>
</div>
</body>
</html>
