<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="static/randall/start.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet"> 
    <script src="static/randall/vue.js"></script>
</head>
<body>
    <div id="app">
        <div id="pg-header">
            <datetime></datetime>
            <weather></weather>
        </div>
        <div id="tabs">
            <div class="list">
                <div class="tab"><tab :listtype="stuff"></tab></div>
                <list :listtype="stuff"></list>
            </div>
            <div class="list">
                <div class="tab"><tab :listtype="googleStuff"></tab></div>
                <list :listtype="googleStuff"></list>
            </div>
            <div class="list">
                <div class="tab"><tab :listtype="money"></tab></div>
                <list :listtype="money"></list>
            </div>
            <div class="list">
                <div class="tab"><tab :listtype="social"></tab></div>
                <list :listtype="social"></list>
            </div>
            <div class="list">
                <div class="tab"><tab :listtype="bills"></tab></div>
                <list :listtype="bills"></list>
            </div>
            <div class="list">
                <div class="tab"><tab :listtype="programming"></tab></div>
                <list :listtype="programming"></list>
            </div>
        </div>
        <div id="lists">
        </div>
    </div>
    <script src="static/randall/start.js"></script>
</body>
</html>