aniso8601==1.1.0
click==6.6
cycler==0.10.0
Flask>=1.0.0
Flask-RESTful==0.3.5
itsdangerous==0.24
Jinja2==2.10.1
MarkupSafe==0.23
matplotlib==1.5.2
mpld3==0.2
numpy==1.11.1
pyparsing==2.1.8
PyQt5==5.7
python-dateutil==2.5.3
pytz==2016.6.1
sip==4.18.1
six==1.10.0
Werkzeug==0.15.3
