* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('photos/flatirons.jpg');
  background-size: 1801px 1200px;
  background-position: -300px 0px;
  margin: 0;
  padding: 0;
}

.header-home {
  height: 50px;
}

.navcont {
  background: #eeeeee;
  display: inline-block;
  width: 100%;
  height: 50px;
}

.menuitem {
  font-family: 'Rubik', sans-serif;
  width: 10%;
  float: left;
  height: 50px;
  position: relative;
}

.menutxt {
  text-decoration: none;
  color: #000;
  text-align: center;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pagetitle {
  font-family: 'Rubik', serif;
  float: right;
  padding-right: 10px;
  height: 50px;
  position: relative;
}

.titletext {
  margin: 0;
  white-space: nowrap;
  top: 50%;
}

.active-home {
  background-color: #009977;
}

.whitetxt {
  color: #fff;
}

.main-stuff {
  background-color: #eee;
  margin: 150px;
  padding: 50px;
}

.main-stuff {
  font-family: "Rubik", sans-serif;
}

.header {
  font-family: 'Rubik', cursive;
  background-color: #cccccc;
  border-bottom: 1px solid #eeeeee;
  margin: 0;
  padding: 0;
  height: 75px;
  position: relative;
  font-size: 25px;
}

#clock {
  margin: 0;
  top: 50%;
  margin-left: 100px;
  transform: translate(-50%, -50%);
  position: absolute;
}

#weather {
  margin: 0;
  top: 50%;
  right: 10px;
  transform: translate(0, -50%);
  position: absolute;
  font-size: 15px;
}

.header h1 {
  font-size: 40px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button1 {
  width: 220px;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  background: linear-gradient(to right, #aaccee, #aaccd4);
}

.button1 h3 {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  left: 50%;
}

.active {
  background: #7aaadd;
  box-shadow: 0 1px 3px 0 #111;
}

.clicked {
  background: #6a99cc;
}

.buttoncontainer a {
  color: black;
}

.buttoncontainer {
  width: 220px;
  position: relative;
  margin-left: 10px;
}

.buttons {
  font-family: 'Rubik', sans-serif;
  float: left;
  width: 240px;
  height: 1049px;
  background: #6e6e6e;
  border-right: 1px solid #eeeeee;
}

.lists {
  margin-left: 250px;
  margin-right: 10px;
}

.list {
  background: #ffffff;
  box-shadow: 0 1px 3px #000000;
  margin: 0;
  display: none;
  width: auto;
}

.listcontainer {
  height: 180px;
  width: 180px;
  margin-bottom: -4px;
  position: relative;
  display: inline-block;
  background-color: #ffffff;
}

.imgactive {
  background: #aaaaaa;
  box-shadow: 0 1px 3px #222;
  z-index: 1
}

.txtactive {
  color: #eeeeee;
}

.listcontainer img {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.flash-content {
  background-color: #fdfdfd;
  font-family: 'Rubik';
  margin-top: 5px;
  margin-left: 5px;
  padding: 20px;
  border: 1px solid #888;
  float: left;
}

.signin {
  background-color: #ededed;
  margin-top: 5px;
  margin-left: 5px;
  padding: 10px;
  border: 1px solid #888;
  float: left;
}

.btn {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 8px;
  margin-top: 4px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  width: 100%;
}

.btn2 {
  background-color: #4040df;
  font-family: 'Product Sans', 'Futura';
  border: none;
  color: white;
  padding: 8px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  top: 0;
  bottom: 0;
  margin: auto;
}

.btn2-active {
  background-color: #3030ad;
}

.google-search {
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  background-color: #ffffff;
  float: left;
  box-shadow: 0 1px 3px 0 #222;
}

#control-panel {
  background-color: #eeeeee;
  margin: 10px;
  float: left;
  width: 300px;
  border-radius: 10px;
}

#control-panel-title {
  margin-left: 100px;
  margin-top: 10px;
}

.control {
  margin: 5px;
  position: relative;
}

.slider-label {
  font-family: 'Rubik', sans-serif;
  position: absolute;
  margin-left: 70px;
  top: 50%;
  transform: translate(0, -50%);
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 5px;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider.round {
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .2s;
  transition: .2s;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

input#q {
  font-size: 16px;
  padding: 2px;
  outline: none;
  border: none;
  border-bottom: 2px solid #aaaaaa;
  transition: border-bottom 0.5s;
}

input#q[type=text]:focus {
  border-bottom: 2px solid #8080fd;
}
