{% extends 'engbase.html' %}

{% block content %}

<div class="content-container">
  <br />
  <h1 class="page-title">Bridge Engineering Tools</h1>
  <h2 class="section-title">Modules</h2>
  <p class="module-name"><a href={{url_for('eng.mvbridgepage')}}>Max Shear/Moment Calculator</a></p>
  <p class="module-name"><a href={{url_for('eng.mvplotpage')}}>Shear/Moment Plots</a></p>
  <p class="module-name"><a href={{url_for('eng.vreactpage')}}>Max Pier Reaction Calculator</a></p>
  <p class="module-name"><a href={{url_for('eng.beampage')}}>Beam Force Calculator</a></p>
</div>

{% endblock %}
