<!DOCTYPE html>
<html>
  <head>
    <title>Home Site</title>
    <link rel="shortcut icon" href="static/randall/photos/icon.ico" type="image/ico">
    <link href="static/randall/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Prompt|Trirong" rel="stylesheet">
    <script src="static/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="static/randall/animations.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="container">

      <!-- child template -->
      {% block content %}{% endblock %}

      <!-- errors -->
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}

      <!-- messages -->
        {% for message in get_flashed_messages() %}
        <div class="flash-content">
          <p>{{ message }}</p>
        </div>
        {% endfor %}
    </div>

  </body>
</html>
